src/Assertive.Test/bin/*
src/Assertive.Test/obj/*
.idea/
.vs/
src/Assertive/bin/*
src/Assertive/obj/*
src/Assertive.sln.DotSettings.user
src/Assertive.Test.NUnit/bin/*
src/Assertive.Test.NUnit/obj/*
src/Assertive.Test.xUnit/bin/*
src/Assertive.Test.xUnit/obj/*
src/Assertive.Test.MSTest/bin/*
src/Assertive.Test.MSTest/obj/*
src/Assertive.xUnit/bin/
src/Assertive.xUnit/obj/
**/.DS_Store
